.Home-Page .Home {
      background-image: url('../../../../assets/background.png');
      background-size: cover;
      height: 100vh;
      background-clip: border-box;
      background-position: bottom;
}
.Home-Page-Heading h2 {
      width: 524px;
      height: 183px;

      font-family: 'Test Söhne';
      font-size: 55px;
      line-height: 125%;
      /* or 69px */

      display: flex;
      align-items: center;

      color: #ffffff;
}
.Home-Page-Heading p {
      width: 403px;
      height: 35px;

      font-family: 'Test Söhne';
      font-size: 18px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: #f1f1f1;
}
.btn__main {
      margin-left: 1px;
      width: 225.06px;
      height: 38px;
      background: #d5effb;
      border-radius: 9.13546px;
      padding: 7px 2px;
}
.Home-Page-Heading .btn__main .download {
      color: #20336b;
      font-family: 'DM Sans';
}
.btnLogo {
      width: 64px;
      height: 20px;
      vertical-align: unset;
}
